.credits {
  align-items: center;
  background-color: white;
  box-shadow: var(--shadow-card);
  color: var(--color-text-primary);
  padding: calc(var(--g-row) * 2) calc(var(--g-gutter) * 2);
  text-align: center;
}

@media (min-width: 51.875em) {
  .credits {
    max-width: 25rem;
  }
}

.credits__logos {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.credits a {
  border: 0;
  display: block;
}

.credits p {
  border-top: 1px solid rgba(var(--color-accent-rgb), 0.2);
  font-size: var(--font-size-3);
  margin: 0;
  padding-top: 1rem;
}

.wells-fargo-logo-link {
  margin-right: var(--g-gutter);
}

.ideas42-logo-link:focus {
  background-color: transparent;
}

.efforts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: calc(var(--g-row) * 10) 0 calc(var(--g-row) * 5) 0;
  justify-content: space-between;
}

.effort {
  flex: 0 1 30%;
  min-width: 18.75rem;
}

.effort h2 {
  font-size: var(--font-size-4);
}

.effort p {
  font-size: var(--font-size-3);
  margin-top: calc(var(--g-row) * 4);
  padding-right: var(--g-gutter);
}
