.credits {
  --padding-v: calc(var(--g-row) * 2.75);
  align-items: center;
  border: 1px solid var(--color-base-mid);
  border-radius: 3px;
  flex-wrap: wrap;
  line-height: 1.4;
  padding-top: var(--padding-v);
  padding-bottom: var(--padding-v);
  text-align: center;
}

.credits__logos {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.credits a {
  border: 0;
  display: block;
}

.credits p {
  font-size: var(--font-size-4);
  flex: 1 1;
  margin: 0;
}

.wells-fargo-logo-link {
  margin-right: var(--g-gutter);
}

.ideas42-logo-link:focus {
  background-color: transparent;
}

@media (min-width: 47.5em) {
  .credits {
    display: flex;
    text-align: left;
  }
}

.efforts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: calc(var(--g-row) * 10) 0 calc(var(--g-row) * 5) 0;
  justify-content: space-between;
}

.effort {
  flex: 0 1 30%;
  min-width: 18.75rem;
}

.effort h2 {
  font-size: var(--font-size-4);
}

.effort p {
  font-size: var(--font-size-3);
  margin-top: calc(var(--g-row) * 4);
  padding-right: var(--g-gutter);
}
