<header class="g-main g-padded banner">
  <nav>
    <a href="/" class="banner__logo">
      {% include "../../images/logo-shared-prosperity-catalyst.svg" %}
    </a>
    <ul class="banner__links">
      <li><a href="/narrative-change">Narrative Change</a></li>
      <li><a href="/policy-lab">Policy Lab</a></li>
      <li><a href="/ventures">Ventures</a></li>
      <li><a href="/press">Press</a></li>
    </ul>
  </nav>
</header>