<a class="banner-cta" href="https://www.ideas42ventures.com/ventures-for-shared-prosperity/apply/?source=spc" target="_blank" rel="noopener">
  <img src="/images/cohort-mark.svg" alt="" width="22">
  <span>Be an entrepreneur in our next <strong>Ventures for Shared Prosperity</strong> cohort, applications close <strong>October 10th, 2021</strong></span>
</a>
<header class="g-padded banner {% if mastheadStyled %}banner--inverted{% endif %}">
  <nav>
    <a href="/" class="banner__logo">
      {% include "../../images/logo-shared-prosperity-catalyst.svg" %}
    </a>
    <ul class="banner__links">
      <li><a href="/narrative-change">Narrative Change</a></li>
      <li><a href="/policy-lab">Policy Lab</a></li>
      <li><a href="/ventures">Ventures</a></li>
      <li><a href="/press">Updates</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>
  </nav>
</header>
