<footer class="footer">
  <div class="g-standard-full footer__contents">

    {% include "components/newsletter-form.njk" %}

    <div>
      <div class="footer__credit g-max-2 g-centered">
        <div class="credit__logos">
          <a class="ideas42-logo-link" href="https://ideas42.org" target="_blank" rel="noopener">
            <img src="/images/logo-ideas42-inverse.svg" alt="ideas42" width="134">
          </a>
          <a class="wells-fargo-logo-link" href="https://www.wellsfargo.com/" target="_blank" rel="noopener">
            <img src="/images/logo-wells-fargo.svg" alt="Wells Fargo logo" width="80"> 
          </a>
        </div>
        <p class="credit__msg font-size-2">
          Brought to you by ideas42 with support from Wells Fargo
        </p>
      </div>

      <nav class="footer__nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/narrative-change">Narrative Change</a></li>
          <li><a href="/policy-lab">Policy Lab</a></li>
          <li><a href="/ventures">Ventures</a></li>
          <li><a href="/contact-us">Contact</a></li>
          <li><a href="/press">Press</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>