<footer class="footer">
  <div class="footer__credits">
    <div class="g-standard-full credits__content">
      <a class="wells-fargo-logo-link" href="https://www.wellsfargo.com/" target="_blank" rel="noopener">
        <img src="/images/logo-wells-fargo.svg" alt="Wells Fargo logo" width="128" height="137"> 
      </a>
      <p>
        Brought to you by <a class="ideas42-logo-link" href="https://ideas42.org" target="_blank" rel="noopener"><img src="/images/logo-ideas42.svg" alt="ideas42" width="87" height="42"></a> 
        <br/>with exclusive funding from Wells Fargo
      </p>
    </div>
  </div>
  <div class="footer__contents">
    <div class="g-standard-full">
      {% include "components/newsletter-form.njk" %}
    </div>
  </div>
</footer>