<footer class="footer">
  <div class="g-standard-full">
    <p>
      Brought to you by ideas42 with exclusive funding from Wells Fargo
    </p>
  </div>
  <div class="g-standard-full footer__content">
    <form class="newsletter-form" action="#" method="post">
      <fieldset>
        <legend>
          Subscribe
        </legend>
        <p class="newsletter-info">
          Subscribe to the Shared Prosperity newsletter for email updates about 
          our progress and events.
        </p>
        <div>
          <label for="newsletter-email">Email address</label>
          <div class="field--connected-btn">
            <input id="newsletter-email" type="email" name="email" 
              placeholder="name@example.com" required />
            <button type="submit" class="btn">Subscribe</button>
          </div>
        </div>
      </fieldset>
    </form>
    <nav>
      <ul>
        <li><a href="/terms">Terms of Service</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </nav>
  </div>
</footer>