<form class="form" name="contact" action="/contact-us/success" method="post" data-netlify="true" netlify-honeypot="bot-field">
  <div class="field">
    <label for="name">Name</label>
    <input class="input" id="name" type="text" name="name" required>
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input class="input" id="email" type="email" name="email" required>
  </div>

  <div class="field">
    <label for="msg">Message</label>
    <textarea required class="input" id="msg" name="msg" rows="4"></textarea>
  </div>

  <div class="form__controls">
    <button class="btn" type="submit">Send</button>
  </div>
  
  <p class="hidden" hidden>
    <label>Don’t fill this out if you're human: <input name="bot-field"></label>
  </p>
</form>