<form class="newsletter-form" action="#" method="post">
  <fieldset>
    <legend>
      Subscribe
    </legend>
    <p class="newsletter__info font-size-2">
      Get our newsletter in your inbox for updates about our progress and events.
    </p>
    <div class="newsletter__controls">
      <label for="newsletter-email">Email address</label>
      <div class="field--connected-btn">
        <input id="newsletter-email" type="email" name="email" 
          placeholder="name@example.com" required />
        <button type="submit" class="btn">Subscribe</button>
      </div>
    </div>
  </fieldset>
</form>