<form
  action="https://ideas42.us13.list-manage.com/subscribe/post?u=4e3cdd047f240125c88eaa30a&amp;id=397d173723" 
  method="post" 
  target="_blank"
  id="mc-embedded-subscribe-form" 
  name="mc-embedded-subscribe-form" 
  class="form newsletter-form validate" target="_blank" novalidate>

  <fieldset>
    <legend class="font-size-2">
      Subscribe
    </legend>
    <div class="newsletter__contents">
      <p class="newsletter__info font-size-2">
        Get our newsletter in your inbox for updates about our progress and events.
      </p>
      <div class="field">
        <label for="newsletter-email" class="visually-hidden">Email address</label>
        <div class="connected-field">
          <input class="input" id="newsletter-email" type="email" name="EMAIL" 
            placeholder="name@example.com" required />
          <button type="submit" class="btn">Subscribe</button>
        </div>
        <div id="mce-responses" class="field__responses">
          <div class="response" id="mce-error-response" style="display:none">Thank you!</div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div> 
      </div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_4e3cdd047f240125c88eaa30a_397d173723" tabindex="-1" value="">
    </div>
  </fieldset>
</form>

<script src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>