<form class="newsletter-form" action="#" method="post">
  <!--NOTE: There's an ancient Chrome bug that doesn't allow flex on fieldsets-->
  <div class="fieldset">
    <legend class="visually-hidden">
      Subscribe
    </legend>
    <p class="newsletter__info font-size-2">
      Subscribe to the Shared Prosperity newsletter for email updates about 
      our progress and events.
    </p>
    <div class="newsletter__controls">
      <label for="newsletter-email">Email address</label>
      <div class="field--connected-btn">
        <input id="newsletter-email" type="email" name="email" 
          placeholder="name@example.com" required />
        <button type="submit" class="btn">Subscribe</button>
      </div>
    </div>
  </div>
</form>