{% macro person_card(person) %}
<div class="card">
  <img class="person__img" src="/images/people/{{ person.img }}" alt="A photo of {{ person.name }}">
  <div class="person__info">
    <div>
      <h3 class="person__name">{{ person.name }}</h3>
      <p class="person__focus">
        {{ person.role }}
      </p>
    </div>

    {% if person.linkedin %}
      <a class="person__social-link" href="{{ person.linkedin }}" target="_blank" rel="noopener">
        <img src="/images/logo-linkedin.png" alt="Go to {{ person.name }}'s LinkedIn Profile">
      </a>
    {% endif %}

    {% if person.bio %}
      <p class="person__bio-summary">{{ person.bioSummary }}</p>
      <details class="person__bio-full">
        <summary>Show more...</summary>
        <p>
          {{ person.bio }}
        </p>
      </details>
    {% endif %}

  </div>
</div>
{% endmacro %}
