{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-full">
  <h1>Ventures</h1>
  <p>
    Info about Ventures for Shared Prosperity. <a href="/ventures/timeline">Timeline</a>
  </p>
</div>
{% endblock %}