html {
  /* color definitions */
  --color-base: #3c3e3e;
  --color-base-rgb: 60, 62, 62;
  --color-base-mid: #a7a9ab;
  --color-accent: #004357;
  --color-accent-rgb: 0, 67, 87;
  --color-accent-2: #1c8a70;
  --color-accent-2-rgb: 28, 138, 112;
  --color-accent-3: #8ebc41;
  --color-accent-4: #bed73c;

  /* color general aliases */
  --color-text-primary: var(--color-base);

  --shadow-card: 0 0 20px rgba(0, 67, 87, 0.24);
}
