html {
  /* color definitions */
  --color-base: #252525;
  --color-accent-active: blue;
  --color-accent: #ccc;

  /* color general aliases */
  --color-text-primary: var(--color-base);
}

html,
body {
  color: var(--color-text-primary);
}

a {
  color: var(--color-accent-active);
}
