<!doctype html>
<html lang="en" data-page="{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">
  <head>
    {% include "head-meta.njk" %}
    
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="dns-prefetch" href="https://use.typekit.net">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg">
    <link rel="stylesheet" href="https://use.typekit.net/fwm3tqw.css">

    {% if site.environment === "production" -%}
      {% set inlineCSS -%}
        {% include "../../css/site.njk" %}
      {%- endset %}

      <style>
        {{ inlineCSS | cssmin | safe }}
      </style>
    {% else %}
      <link rel="stylesheet" href="/css/site.css">
    {%- endif %}

  </head>

  <body>
    {% include "components/banner.njk" %}
    
    <main>
    {% block main -%}{% endblock -%}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
