.banner__logo {
  display: block;
  width: 9.375rem;
}

.banner__logo:focus .logo-color-accent {
  fill: white;
}

.banner__logo:focus .logo-base-mid {
  fill: var(--color-base-mid);
}

.banner nav {
  grid-column: 1 / -1;
}

.banner ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner li {
  padding: 0.5rem;
}
