.banner__logo {
  display: block;
  width: 9.375rem;
}

.banner__logo:focus {
  background-color: transparent;
}

.banner__logo:active {
  outline: none;
}

.banner nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: calc(var(--g-row) * 2) 0;
}

.banner ul {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-end;
  margin: 0;
  max-width: 30rem;
  padding: 0;
}

.banner li {
  flex: 1 1 auto;
  padding: 0 0.5rem;
  text-align: right;
}

.banner__links a {
  display: inline-block;
}

.banner__links a::after {
  background-color: var(--color-accent-4);
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, 4px, 0);
  transition: 0.12s ease;
  width: 97%;
}

.banner__links a:hover::after,
.banner__links a:focus::after,
[data-page="narrative-change"] .banner__links [href*="narrative-change"]::after,
[data-page="policy-lab"] .banner__links [href*="policy-lab"]::after,
[data-page="ventures"] .banner__links [href*="ventures"]::after,
[data-page="press"] .banner__links [href*="press"]::after,
[data-page="contact-us"] .banner__links [href*="contact-us"]::after,
[data-page="success"] .banner__links [href*="contact-us"]::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.banner__links a:focus::after {
  background-color: currentColor;
}

.banner--inverted .logo-color-accent {
  fill: white;
}

.banner--inverted .logo-base-mid {
  fill: var(--color-base-mid);
}

.banner--inverted a {
  color: white;
}
