.btn {
  background-color: var(--color-accent-2);
  border: 0;
  border-radius: var(--border-radius, 4px);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size, inherit);
  font-weight: 500;
  line-height: 1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
}
