.footer {
  background-color: white;
}

.footer__contents {
  background-color: var(--color-accent);
  color: white;
  padding-top: calc(var(--g-row) * 4);
  padding-bottom: calc(var(--g-row) * 8);
}

.footer__contents a {
  color: white;
  text-decoration: underline;
}
