.footer {
  background-color: var(--color-accent-mod);
  color: white;
  padding-top: calc(var(--g-row) * 4);
  padding-bottom: calc(var(--g-row) * 18);
}

.footer a {
  border-bottom: 1px solid var(--color-accent-2);
  color: white;
  text-decoration: none;
}

.footer a:hover {
  border-color: white;
}

.footer a:not([class]):focus {
  background-color: white;
  border-color: white;
  color: var(--color-accent-mod) !important;
  outline-color: white;
}

.footer__contents {
  background: transparent
    url(/images/logo-shared-prosperity-catalyst-mark-inverse.svg) no-repeat
    1.25rem 3.5rem;
  background-size: 2.25rem;
}

.footer__contents > * {
  padding: 1.5rem 0.5rem 2.5rem 3rem;
}

.footer__credit {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-top: calc(var(--g-row) * 3);
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.ideas42-logo-link {
  transform: translateX(-1rem);
}

.credit__logos a,
.credit__logos img {
  border: 0;
  display: block;
}

.credit__logos {
  align-items: center;
  display: flex;
  justify-content: center;
}

.credit__msg {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;
  text-align: center;
}

.footer__nav {
  margin-top: calc(var(--g-row) * 6);
  text-align: center;
}

.footer__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav li {
  display: inline-block;
  padding: 0.25rem 0.75rem;
}
