.hero {
  --offset-top: calc(var(--g-row) * 10);
}

.hero--styled {
  color: white;
}

.hero__intro {
  min-width: calc(var(--g-col) * 1);
  position: relative;
}

.hero__title {
  margin-top: var(--offset-top);
}

.hero--styled .hero__title {
  color: inherit;
  margin-bottom: 0;
}

.hero__body {
  font-size: var(--font-size-4);
  margin: 0;
}

.hero--home {
  text-align: center;
}

.hero--home .hero__title {
  position: relative;
}

.hero--home .hero__intro::before {
  --size: 10rem;
  background: transparent url("/images/graphic-tile-accent-2.svg") repeat;
  background-size: 20px;
  border-radius: calc(var(--size) / 2);
  content: "";
  display: block;
  height: var(--size);
  left: 5rem;
  opacity: 0.75;
  position: absolute;
  top: -2rem;
  width: var(--size);
}

.hero--home .hero__body {
  font-size: var(--font-size-5);
  margin-left: auto;
  margin-right: auto;
}
