.hero {
  --offset-top: calc(var(--g-row) * 6.5);
}

.hero--styled {
  background-color: var(--color-accent);
  color: white;
  margin-bottom: calc(var(--g-row) * 3);
  position: relative;
  --padding-b: calc(var(--g-row) * 6);
  padding-bottom: var(--padding-b);
  padding-top: var(--offset-top);
}

.hero--home {
  margin-bottom: calc(var(--g-row) * 12);
}

.hero__contents {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.hero__intro {
  flex: 1 1 calc(var(--g-col) * 1.5);
  min-width: calc(var(--g-col) * 1);
  padding-right: 1rem;
}

.hero__figure {
  flex: 1 1;
  margin-top: calc(var(--g-row) * 3);
  margin-bottom: calc(var(--padding-b) * -2);
  min-width: var(--g-col);
}

.hero__title {
  margin-top: var(--offset-top);
}

.hero--styled .hero__title {
  color: inherit;
  margin: 0;
}

.hero__body {
  font-size: var(--font-size-4);
  margin: 0;
}

@media (min-width: 48.75em) {
  .hero__figure {
    margin-top: -1rem;
    margin-bottom: calc(var(--padding-b) * -2);
  }
}
