.newsletter-form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.newsletter__contents {
  display: flex;
  flex-wrap: wrap;
}

.newsletter__info {
  margin: 0;
  padding: 0 0 calc(var(--g-row) * 2) 0;
  max-width: 38ch;
}

.newsletter-form .field {
  flex: 1 1;
}

@media (min-width: 47.5em) {
  .newsletter__info {
    padding-right: var(--g-gutter);
  }
}
