.newsletter-form .fieldset {
  border: 0;
  padding: 0;
}

.newsletter__info {
  margin: 0 0 calc(var(--g-row) * 2) 0;
  max-width: 27.5rem;
}

.newsletter__controls {
  max-width: 40.625rem;
}

.newsletter-form label {
  display: block;
  font-size: var(--font-size-0);
  font-weight: 400;
  padding: 0 0 0.25rem 0;
  width: 100%;
}

.field--connected-btn {
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
}

.field--connected-btn input {
  --border-radius: 2px 2px 0 0;
  background-color: white;
  border: 0;
  border-radius: var(--border-radius);
  flex: 1;
  padding: 0.9em;
  font-size: inherit;
}

.field--connected-btn input::placeholder {
  color: rgba(var(--color-base-rgb), 0.8);
}

.btn {
  border: 0;
  border-radius: var(--border-radius, 2px);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size, inherit);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.field--connected-btn .btn {
  --border-radius: 0 0 2px 2px;
  padding: 0.75em 1.25em;
  width: 100%;
}

.newsletter-form .btn {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

@media (min-width: 40.625em) {
  .field--connected-btn input {
    --border-radius: 2px 0 0 2px;
  }

  .field--connected-btn .btn {
    --border-radius: 0 2px 2px 0;
    width: auto;
  }
}

@media (min-width: 47.5em) {
  .newsletter-form .fieldset {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .newsletter__info {
    margin-bottom: 0;
    padding-right: var(--g-gutter);
  }

  .newsletter__info,
  .newsletter__controls {
    flex: 1 1;
  }
}
