.newsletter__info {
  margin: 0;
  padding: 0 0 calc(var(--g-row) * 4) 0;
  max-width: 34ch;
}

.newsletter-form .field {
  max-width: 40ch;
}

@media (min-width: 47.5em) {
  .newsletter__info {
    margin-bottom: 0;
    padding-right: var(--g-gutter);
  }

  .newsletter__info,
  .newsletter__controls {
    flex: 1 1;
  }
}
