{% extends "layouts/base.njk" %}

{% block main %}
<header class="hero g-standard-full">
  <h1 class="hero__title">Contact Us</h1>
</header>

<div class="g-standard-full">
  <div class="g-max-3 font-size-3">
    {% include "components/form-contact.njk" %}
  </div>
</div>
{% endblock %}