{% extends "layouts/base.njk" %}

{% block main %}
<div class="home__content">
  <h1>Eleventy Starter</h1>
  <p>
    A very opinionated static site project scaffold with Eleventy. Made for use as a GitHub template repo.  
  </p>
</div>
{% endblock %}