{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-standard-full">
  <h1 class="visually-hidden">Shared Prosperity Catalyst</h1>
  <p>
    Shared Prosperity Catalyst is a multi-year initiative to bring better 
    financial health to those with lower incomes, living in underserved 
    communities.
  </p>
  <p>
    This ambitious vision will apply a behavioral lens to the entirety of what 
    we know as financial health, driven by an experienced team of business 
    builders and behavioral designers, and powered by a diverse network of 
    academics, practitioners, and entrepreneurs with experience in the 
    communities we aim to serve. Achieving this will require three parallel 
    efforts, each informed by a deep understanding of behavioral science.
  </p>
  <ul>
    <li>
      <h2><a href="/narrative-change">Narrative Change</a></h2>
      <p>
        Development and testing of messaging and tools for changing cultural 
        narratives around poverty
      </p>
    </li>
    <li>
      <h2><a href="/policy-lab">Policy Lab</a></h2>
      <p>
        Developing proven behavioral science-informed policies at the Federal, 
        State, and Local level 
      </p>
    </li>
    <li>
      <h2><a href="/ventures">Ventures</a></h2>
      <p>
        Scalable technology businesses focused on overcoming barriers to good 
        financial health
      </p>
    </li>
  </ul>
</div>
{% endblock %}