{% extends "layouts/base.njk" %}

{% block main %}
<header class="hero hero--styled hero--home">
  <div class="g-standard-full hero__contents">
    <div class="hero__intro">
      <h1 class="hero__title">About Shared Prosperity Catalyst</h1>
      <p class="hero__body g-max-2">
        A multi-year initiative to bring financial health and prosperity to all 
        in the United States.
      </p>
    </div>
    <div class="credits hero__figure">
      <div class="credits__logos">
        <a class="wells-fargo-logo-link" href="https://www.wellsfargo.com/" target="_blank" rel="noopener">
          <img src="/images/logo-wells-fargo.svg" alt="Wells Fargo logo" width="112"> 
        </a>
        <a class="ideas42-logo-link" href="https://ideas42.org" target="_blank" rel="noopener">
          <img src="/images/logo-ideas42.svg" alt="ideas42" width="138">
        </a>
      </div>
      <p>
        Brought to you by ideas42 with exclusive funding from Wells Fargo
      </p>
    </div>
  </div>
</header>

<div class="g-standard-full">
  <div class="g-max-3">
    <h2>Our Mission</h2>
    <div class="font-size-3">
      <p>
        Shared Prosperity Catalyst will apply a behavioral lens to all that we 
        view as financial health, and expand that view to include the physical and 
        mental health impacts of experiencing poverty. 
      </p>
      <p>
        Driven by an experienced team of behavioral designers, policy experts, and 
        business builders and powered by a diverse network of academics, 
        practitioners, and entrepreneurs with experience in the communities we aim 
        to serve, this multi-year initiative will focus on creating more equitable 
        prosperity across the United States. 
      </p>
      <p>
        Achieving this will require three parallel efforts, each informed by a 
        deep understanding of behavioral science.
      </p>
    </div>
  </div>
</div>
<div class="efforts-container">
  <div class="g-standard-full">
    <ul class="efforts">
      <li class="effort">
        <a href="/narrative-change">
          <h2>Narrative Change</h2>
          <img src="/images/effort-graphic-placeholder.png" alt="" width="355">
          <p>
            Development and testing of messaging and tools for changing cultural 
            narratives around poverty
          </p>
        </a>
      </li>
      <li class="effort">
        <a href="/policy-lab">
          <h2>Policy Lab</h2>
          <img src="/images/effort-graphic-placeholder.png" alt="" width="355">
          <p>
            Developing proven behavioral science-informed policies at the Federal, 
            State, and Local level 
          </p>
        </a>
      </li>
      <li class="effort">
        <a href="/ventures">
          <h2>Ventures</h2>
          <img src="/images/effort-graphic-placeholder.png" alt="" width="355">
          <p>
            Scalable technology businesses focused on overcoming barriers to good 
            financial health
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}