---
title: Narrative Change - Shared Prosperity Catalyst
---

{% extends "layouts/base.njk" %}

{% block main %}
<header class="hero">
  <div class="g-standard-full hero__contents">
    <div class="hero__intro">
      <h1 class="hero__title">Narrative Change</h1>
    </div>
  </div>
</header>

<div class="g-standard-full">
  <div class="g-max-3 font-size-3">
    <p class="hero__body">
      Human beings are processing enormous amounts of information at any one time,
      and invariably, can’t make sense of all of it. To get by, we use heuristics
      (e.g., rule of thumbs) and narratives.
    </p>
    <p class="hero__box">
      <big>Nar &bull;&#8202;ra&#8202;&bull;&#8202;​tive</big> &nbsp; [ner-ə-tiv]
      &nbsp; <strong>noun</strong>
      <br>
      A collection or system of related stories that
      are articulated and refined over time to represent a central idea or belief.
    </p>
    <p>
      Narratives come from innumerable sources and influences. Some are deeply
      ingrained in us by our media consumption; others emerge from our lived
      experience.
    </p>
    <p>
      As Ai Jen Poo and Eldar Shafir <a href="https://www.mobilitypartnership.org/changing-narrative">argue in an “Ideas Brief” from the U.S.
      Partnership on Mobility</a>, some of the strongest held narratives in the U.S.
      are those about poverty.
    </p>
    <h3>Harmful Narratives Harm People</h3>
    <ul>
      <li>
        They misguide social policy and <a href="http://www.ideas42.org/wp-content/uploads/2019/04/ideas42-Work-Requirements-Paper.pdf">work requirements for benefits</a>
      </li>
      <li>
        They bias public servants and human service providers
      </li>
      <li>
        They drive the false belief that poverty is drive by individual fault, not outside circumstances
      </li>
    </ul>
    <p>
      Why focus on narratives? Narratives are powerful. They drive public
      imagination and attitudes towards people who live in poverty. Because
      narratives are a lens through which we view and judge the world, narratives
      also shape how we interact with the world: what positions we take on policy,
      how we vote, and how we treat other people in our communities. False
      narratives are also harmful. Policy and programs are less effective at
      addressing poverty when they are based on false narratives. But this also
      presents an opportunity: changing false poverty narratives has the potential
      to shift support for effective social policies and programs that actually
      address poverty’s root causes.
    </p>
    <p>
      Many types of organizations and disciplines are working to shift harmful
      narratives about poverty. With a deep understanding of human behavior and an
      experimental toolkit, behavioral science as a field is uniquely positioned
      to design new innovation approaches to narrative change. Our narrative
      change work aims to partner with community-based organizations in three U.S.
      cities to shift local narratives through behaviorally informed designs. We
      also seek to create tools to help measure the success of our narrative
      change efforts and potentially others, helping to advance the narrative
      change field. Centering the voices of people who live in these communities,
      our ultimate goal will be to ensure that policies and practices that aim to
      address poverty are based on science and the lived experience of people
      living in poverty, and not harmful false narratives.
    </p>

    <h2>Mission/vision</h2>
    <p>
      Our narrative change work aims to collaborate with local communities to
      reimagine narratives about poverty and instill those narratives into
      effective social policy and program design.
    </p>
    <p>
      We envision a U.S. where a shared, evidence-based narrative of poverty
      removes inequities that prevent all people from leading fulfilled lives of
      their own definition.
    </p>

    <h2>How will we do this?</h2>
    <details class="hero__details">
      <summary>Measure narrative change.</summary>
      We will partner closely with
      academics and narrative change experts to define the ways narrative change
      is measured, including appropriate metrics and frequency of measurement.
      Approaches may include quantitative methods, such as survey data, as well as
      qualitative methods, such as focus groups with community members, and the creation of novel tools.
    </details>
    <details class="hero__details">
      <summary>Cultivate deep community partnerships.</summary> We recognize that we cannot do
      narrative change work alone, and we will need to engage with our target
      communities more deeply. We will partner with community-based
      organizations in New York City, Washington D.C., and San Francisco to
      leverage the tacit knowledge embedded in communities.
    </details>
    <details class="hero__details">
      <summary>Uncover narratives and pathways to change.</summary> Working closely with community
      members, we will unearth narratives that influence attitudes and beliefs
      about social policy. We aim to understand:
      <ul>
        <li>
          What are current community narratives about poverty?
        </li>
        <li>
          What are the existing community assets? Who are the potential messengers
          of (e.g., community leaders or other influencers) and channels for
          (e.g., radio, social media, etc.) narrative change?
        </li>
        <li>
          What may be existing barriers to change in narratives?
        </li>
      </ul>
    </details>
    <details class="hero__details">
      <summary>Design and implement narrative change intervention(s).</summary>
      Building on the data we gather, we will work closely with our academic and community
      partners to design interventions tailored for each of our target cities
      and the narratives we find in them. Interventions might include: social
      media campaigns; deep canvassing; public art; film, video, or audio
      narratives; etc. As we implement these interventions, we will monitor and
      evaluate our success using the metrics identified earlier in the project.
      Broadly, we hope to see residents’ perception of people living in poverty
      shift to incorporate an understanding of the role of context, and for those
      experiencing poverty to feel greater dignity in their communities and when
      they interact with human service providers. Presuming that we achieve those
      shifts, we’d also expect to see improving attitudes toward social welfare
      programs and concomitant support for policy change.
    </details>
    <details class="hero__details">
      <summary>Why behavioral science</summary>
      <ul>
        <li>
          Using our experience in quantitative and qualitative research, we can
          investigate how narratives about poverty come to exist and are shaped in
          local and national contexts.
        </li>
        <li>
          Using our proclivity for smart design and iteration, we can design
          different narrative change solutions- replace deleterious narratives with
          those informed by the concept of scarcity.
        </li>
        <li>
          Using our deep behavioral science knowledge and process, we can explore
          the ways behavioral principles, including identity, availability bias,
          framing, and confirmation bias, play a role in shaping, reinforcing, and
          potentially shifting narratives.
        </li>
        <li>
          Using our experience running rigorous evaluations and defining and
          measuring success, we can test diverse solutions to evaluate what works
          and what doesn’t. We can play a role in defining what outcomes matter,
          and which will lead to the behaviors we want to see to reduce poverty--better
          policies, better program design, more informed residents.
        </li>
      </ul>
    </details>
  </div>
</div>
{% endblock %}
