{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-full">
  <h1>Policy Lab</h1>
  <p>
    One of the most important learnings from behavioral science over the last 
    40 years is that the context in which people operate has an outsized impact 
    on how people make decisions and do or do not follow through on those 
    decisions. 
  </p>
  <figure>
    <blockquote>
      “Roughly 70% of the variation in individual decision making can be 
      attributed to the difference in context in which people are operating, and 
      only about 30% is attributable to differences in the people themselve. We 
      all know that changing people is really, really hard, but changing the 
      context in which they operate while not simple is much easier”  
    </blockquote>
    <figcaption>
      Eldar Shafir, ideas42 founder and Princeton University Class of 1987 
      Professor in Behavioral Science and Public Policy
    </figcaption>
  </figure>
  <p>
    This context can be as small as the complex forms they need to fill out to 
    qualify for a FHA (Federal Housing Authority) mortgage or federal financial 
    aid for college to as large as the living in the context of sustained 
    poverty or the context of living growing up black in America. 
  </p>
  <p>
    Public policy, while not the only force in shaping context, it is one of 
    the most significant. It is also one that when changed, it immediately has 
    massive scale, affecting the context for millions of people. Public policy, 
    whether we like it or not, impacts so many aspects of our lives, from how 
    we cash a check to attending college, how much government subsidy we get 
    when we save for retirement or get a mortgage. Many of these policies are 
    well meaning, but they are also typically not designed well for how humans 
    actually behave, and they are rarely design to help the people who need 
    them the most, those with the fewest financial resources. Furthermore, many 
    policies have advantaged white american and created <a href="https://econfip.org/policy-brief/racial-inequality/">specific disadvantaged 
    Black Americans</a>. We can proactively design policies not just to do no harm, 
    but to intentionally help those among us who need the help the most.
  </p>
  <p>
    Behavioral Science, fortunately has a great deal to offer in creating and 
    designing public policy and therefore improving the context in which people 
    operate. 
  </p>
  <h2>How will we do this?</h2>
  <p>
    The Policy lab for Shared Prosperity will specifically focus on using 
    insights from behavioral science to make concrete recommendations on how 
    laws and regulations can be designed anew or adjusted to improve the lives 
    of under resourced people. Ideas42 and its academic affiliates and others 
    already engage in part 1 of  the policy change process (Fig 1), using 
    rigorous research to develop evidence of what works. The policy for shared 
    prosperity will focus the majority of its effort on step 2 translating that 
    evidence into very concrete recommendations for new or changes to existing 
    statutes or rules at the federal, state and local level. While the Policy 
    for shared prosperity will occasionally write thought leadership pieces and 
    broad policy white papers, most of what it will produce is the actual draft 
    language for the statutes and rules. The Policy for Share Prosperity will 
    then work with other organizations that are already doing Advocacy and 
    Lobbying (step 4) and/or working on public opinion 
    (step 3 - including Narrative change for shared prosperity). The policy lab 
    will not do this work itself because it would be recreating the wheel, there 
    are a number of organizations that already do this work very effectively in 
    each of their respective policy areas. 
  </p>
  <p>
    What are some concrete examples, one a smaller change and one a larger 
    change:
  </p>
  <ul>
    <li>
      Specific changes to the “Check Clearing for the 21st Century Act” 
      and/or the “Expedited Funds Availability Act” and/or the Federal Reserve 
      Banks rules to implement these acts so that checks can clear 
      instantaneously. In this day and age of technology, there is no reason 
      why checks cannot clear instantaneously, with funds available immediately 
      into a person's account, instead of waiting 12-48 hours that it typically 
      takes a check to clear. This time may not seem like much to someone who 
      has enough resources saved to cover their basic needs, but for a family 
      that is living pay-check to pay-check (and this is tens of millions of 
      Americans) this is critical. It is the difference between being able to 
      feed your family or your kid going hungry for days, unless you  go to a 
      check cashier and pay fees that take away from hard earned money. 
    </li>
    <li>
      Changes to the laws that govern the Mortgage Interest Tax deduction, last 
      changed in theTax Cuts and Jobs Act of  2018. So the that lower income 
      Americans could take the deduction in the form of a prepaid tax credit 
      (instead of a deduction) so that they could be used for the down payment 
      on a house, instead of a small subsidy during the ownership and mortgage 
      payoff process. The benefit from the Mortgage Interest Tax deduction as 
      it now exist <a href="https://prosperitynow.org/resources/mortgage-interest-deduction-doesnt-reward-homeownership-everyone">accrues in large part to middle and upper income people</a>. 
      Lower income homeowners get very little from the deduction, and people 
      who do not own a home get nothing. Why would we want to use government 
      money to give people who already have a lot of resources more resources 
      through this tax deduction, but not structure it so that it would give 
      people who have very little wealth and assets a boost to their income and 
      wealth. It would be relatively easy, when you apply for a mortgage you 
      already have to prove income levels, so why not just allow lower income 
      people to have a tax credit instead of a deduction and allow them to take 
      it upfront to be used as a downpayment on a house. <a href="https://www.urban.org/sites/default/files/publication/99028/barriers_to_accessing_homeownership_2018_4.pdf">Lack of down payments 
      is one of the leading barriers to people purchasing a house</a>. In addition, 
      <a href="https://heller.brandeis.edu/iasp/pdfs/racial-wealth-equity/racial-wealth-gap/roots-widening-racial-wealth-gap.pdf">Homeownership is also one of the largest drivers</a> of the racial wealth gap 
      (<a href="https://ofdollarsanddata.com/racial-wealth-gap/">the average white american family has ten times the wealth of the average 
      black american family</a>)
    </li>
  </ul>
</div>
{% endblock %}