---
title: Policy Lab - Shared Prosperity Catalyst
---

{% extends "layouts/base.njk" %}

{% block main %}
<header class="hero">
  <div class="g-standard-full hero__contents">
    <div class="hero__intro">
      <h1 class="hero__title">Policy Lab</h1>
    </div>
  </div>
</header>

<div class="g-standard-full">
  <div class="g-max-3 font-size-3">
    <p class="hero__body">
      One of the most important insights to come from from behavioral science over the last
      40 years is that the context in which people operate has an outsized impact
      on how people make decisions and do or do not follow through on those
      decisions.
    </p>
    <figure class="content-figure">
      <blockquote class="font-size-4">
        Roughly 70% of the variation in individual decision making can be
        attributed to the difference in context in which people are operating, and
        only about 30% is attributable to differences in the people themselve. We
        all know that changing people is really, really hard, but changing the
        context in which they operate while not simple is much easier
      </blockquote>
      <figcaption class="font-size-2">
        Eldar Shafir, ideas42 founder and Princeton University Class of 1987
        Professor in Behavioral Science and Public Policy
      </figcaption>
    </figure>
    <h3>Examples of Context</h3>
    <p>
      Context can refer to something as small as the complex and often maddening
      forms required to  qualify for a Federal Housing Authority mortgage or
      financial aid to pay for college. Or they can be as large as ongoing
      challenges of experiencing sustained poverty, or the extra complexities
      of growing up Black in America.
    </p>
    <div class="contexts-container">
      <div class="">
        <ul class="contexts">
          <li class="context">
            <img src="/images/context-graphic-mortgage.svg" alt="" width="355">
            <p>
              Complex forms
            </p>
          </li>
          <li class="context">
            <img src="/images/context-graphic-brain.svg" alt="" width="355">
            <p>
              Mental load
            </p>
          </li>
          <li class="context">
            <img src="/images/context-graphic-exclusion.svg" alt="" width="355">
            <p>
              Discrimination
            </p>
          </li>
        </ul>
      </div>
    </div>
    <p>
      While not the only force in shaping context, public policy is certainly
      one of the most significant. When changed, policies have the added effect
      of immediate scale, impacting the context for millions of people. Whether
      we like it or not, public policy shapes countless aspects of our
      lives, from how we access our money to whether or not we can get a college
      a degree, to how much government subsidy we get when we save for
      retirement or if we can afford a mortgage.
    </p>
    <p>
      Many policies are well-intended, but more often than not they’re not
      designed to account for how humans actually behave, and they’re rarely
      designed to help those who need them the most: those with the fewest
      financial resources. Furthermore, many policies have advantaged certain
      groups over others, and <a href="https://econfip.org/policy-brief/racial-inequality/">specifically
      disadvantaged Black Americans</a>.
    </p>
    <p>
      Behavioral Science, fortunately has a great deal to offer in creating and
      designing public policy and therefore improving the contexts in which
      people operate.
    </p>

    <h2>Mission/vision</h2>
    <p>
      Developing proven behavioral science-informed policies at the Federal, State,
      and Local level.
    </p>

    <h2>How will we do this?</h2>
    <p>
      The Policy lab for Shared Prosperity will specifically focus on using
      insights from behavioral science to make concrete recommendations on how
      laws and regulations can be either adjusted to improve
      the lives of under resourced people, or designed anew.
    </p>
  </div>
</div>
{% endblock %}
