{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-full">
  <h1>Press</h1>
  <p>
    <strong>Media contacts:</strong>
  </p>
  <ul>
    <li>
      Mitra Salasel, Director of Communications ideas42 <a href="mailto:mitra@ideas42.org">mitra@ideas42.org</a>
    </li>
    <li>
      TBD, Wells Fargo <a href="mailto:tbd@wellsfargo.com">tbd@wellsfargo.com</a>
    </li>
  </ul>
</div>
{% endblock %}