---
title: Press - Shared Prosperity Catalyst
---

{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-standard-full">

  <header class="hero g-max-3">
    <h1 class="hero__title">Press</h1>
  </header>

  <div class="g-max-3 font-size-3 press">
    <h2>Press Releases</h2>
    <p>
      <strong>July 30, 2021</strong><br />
      <a href="https://newsroom.wf.com/English/news-releases/news-release-details/2021/ideas42-Wells-Fargo-Aim-to-Tackle-High-Costs-of-Living-in-Poverty-in-the-U.S/default.aspx" target="_blank">ideas42, Wells Fargo Aim to Tackle High Costs of Living in Poverty in the U.S.</a>
    </p>
    <h2>Media Coverage</h2>
    <p>
      <strong>July 29, 2021</strong> <em>Fast Company</em><br />
      <a href="https://www.fastcompany.com/90656929/these-4-entrepreneurs-are-building-financial-products-that-make-it-less-expensive-to-be-poor" target="_blank">These 4 entrepreneurs are building financial products that make it less expensive to be poor</a>
    </p>
    <h2>Blogs</h2>
    <ul>
      <li><a href="https://www.ideas42.org/blog/changing-harmful-narratives-about-poverty/" target="_blank">Changing Harmful Narratives About Poverty</a>
      <li><a href="https://www.ideas42.org/blog/designing-for-inclusion-lessons-from-the-venture-studios-entrepreneur-recruitment/" target="_blank">Designing for Inclusion: Lessons from the Venture Studio’s Entrepreneur Recruitment</a>
      <li><a href="https://www.ideas42.org/blog/de-biasing-the-process-to-drive-diversity-in-tech-entrepreneurship-with-ventures-for-shared-prosperity/" target="_blank">De-biasing the Process to Drive Diversity in Tech Entrepreneurship with Ventures for Shared Prosperity</a>
    </ul>
    <h2>Media contacts</h2>
    <ul>
      <li>
        Mitra Salasel, Director of Communications at ideas42 <a href="mailto:mitra@ideas42.org">mitra@ideas42.org</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
