{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-standard-full">
  <header class="hero">
    <h1 class="hero__title">Press</h1>
  </header>

  <p>
    <strong>Media contacts:</strong>
  </p>
  <ul>
    <li>
      Mitra Salasel, Director of Communications ideas42 <a href="mailto:mitra@ideas42.org">mitra@ideas42.org</a>
    </li>
    <li>
      TBD, Wells Fargo <a href="mailto:tbd@wellsfargo.com">tbd@wellsfargo.com</a>
    </li>
  </ul>
</div>
{% endblock %}