{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-standard-full">
  <header class="hero g-max-3">
    <h1 class="hero__title">Terms of Service</h1>
  </header>

  <div class="g-max-3 font-size-3">
    <p>
      Terms of service content.
    </p>
  </div>
</div>
{% endblock %}