{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-standard-full">
  <header class="hero">
    <h1 class="hero__title">Terms of Service</h1>
  </header>
  <p>
    Terms of service content.
  </p>
</div>
{% endblock %}