{% extends "layouts/base.njk" %}

{% block main %}
<div class="g-standard-full">
  <header class="hero">
    <h1 class="hero__title">Ventures</h1>
    <p class="hero__body">
      Building scalable technology businesses focused on overcoming barriers to good financial health. 
    </p>
  </header>
  <p>
    This ambitious, 3-year program focuses on co-building multiple impact 
    businesses. We are looking for four talented individuals to join our first 
    18-month business building program that begins in January, 2021. We will 
    work with our first cohort of entrepreneurs to focus on building businesses 
    that address the <a hef="https://ideas42ventures.netlify.app/ventures-for-shared-prosperity/focus-area/">excess costs of poverty</a>. As an entrepreneur at 
    Ventures for Shared Prosperity we will pay you (with benefits) for 18 months, and surround you with software development, business design, and behavioral research experts to help you start an incredible impact business. 
  </p>
  <h2>Mission/vision</h2>
  <p>
    At Ventures for Shared Prosperity we believe we can help improve the lives 
    of individuals living in poverty by partnering with motivated entrepreneurs 
    to build and scale software-powered, behavioral science informed businesses 
    that address the varied, complex, and structural causes of poverty in 
    America. 
  </p>
  <p>
    Visit <a href="https://ideas42ventures.netlify.app/ventures-for-shared-prosperity/">Ventures for Shared Prosperity</a> 
    to learn more about our business-building  model, our philosophy on entrepreneurship, what opportunities we see to 
    address the excess costs of poverty, and why you should apply.
  </p>

  <h2>How will we do this?</h2>
  <p>
    We’re particularly focused on recruiting those with an interest in 
    entrepreneurship and social impact businesses although they do not need to 
    have prior experience starting or running social impact businesses. 
  </p>
  <p>
    Our ventures will be recruited and developed in several cohorts. We will 
    <b>provide selected entrepreneurs with connections</b> to experts in technology, 
    behavioral science, product design, as well as connections to funders.
  </p>
  <p>
    In our first cohort, we are looking for those who have direct, lived 
    experience of the excess costs of poverty, in areas similar but not limited 
    to, access to equitable housing; employment; financial services; healthcare 
    and other important areas in the US. 
  </p>
  <p>
    We believe that individuals with direct experience living with the excess 
    costs of poverty will have a real advantage in determining & creating 
    impactful solutions to the challenging social problems often associated with 
    the experience. Joining our cohort of entrepreneurs includes:
  </p>
  <ul>
    <li>$75K annual salary for 18 months</li>
    <li>Healthcare + dependent care benefits for 18 months</li>
    <li>Home office or remote office set-up support and supply (laptop, monitor, etc.)</li>
    <li>Access to a dedicated team of business builders to develop, evaluate and launch a business idea</li>
    <li>~$120k in cash to spend on sales, marketing, software development</li>
    <li>Support from ideas42 Behavioral Design teams and the ideas42 community</li>
    <li>40% stake in businesses spun out of the Ventures for Shared Prosperity</li>
  </ul>
</div>
{% endblock %}