* {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

[hidden],
.hidden {
  display: none;
  visibility: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html,
body {
  background-color: var(--color-accent-mod);
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
}

main {
  background-color: white;
  overflow: hidden;
  padding-bottom: calc(var(--g-row) * 14);
}
