* {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html,
body {
  margin: 0;
  padding: 0;
}

[hidden],
.hidden {
  display: none;
  visibility: hidden;
}
